[submodule "ansible-role-mysql"]
	path = ansible-role-mysql
	url = https://github.com/ea-p/ansible-role-mysql.git
[submodule "ansible-role-repo-remi"]
	path = ansible-role-repo-remi
	url = https://github.com/ea-p/ansible-role-repo-remi.git
[submodule "ansible-role-apache"]
	path = ansible-role-apache
	url = https://github.com/ea-p/ansible-role-apache.git
[submodule "ansible-role-php"]
	path = ansible-role-php
	url = https://github.com/geerlingguy/ansible-role-php.git
[submodule "ansible-role-epel"]
	path = ansible-role-epel
	url = https://github.com/ea-p/ansible-role-epel