<VirtualHost *:80>
  ServerName {{ firefly_WEBSITE }}
#  ServerAlias {{ firefly_WEBSITE }}


    DocumentRoot /var/www/{{ firefly_WEBSITE }}/public
    ErrorLog /var/www/{{ firefly_WEBSITE }}/logs/error.log
    CustomLog /var/www/{{ firefly_WEBSITE }}logs/requests.log combined
</VirtualHost>
