<VirtualHost *:80>
  ServerName {{ firefly_WEBSITE }}
#  ServerAlias {{ firefly_WEBSITE }}


  <Directory /var/www/{{ firefly_WEBSITE }}/>
    AllowOverride All
    Require all granted
  </Directory>



    DocumentRoot /var/www/{{ firefly_WEBSITE }}/public
    ErrorLog /var/www/{{ firefly_WEBSITE }}/logs/error.log
    CustomLog /var/www/{{ firefly_WEBSITE }}/logs/requests.log combined
</VirtualHost>
