<VirtualHost *:{{ item.listened_port }}>
  ServerName www.{{ item.website_domain }}
  ServerAlias {{ item.website_domain }}
  
  DocumentRoot /var/www/{{ item.website_domain }}
  ErrorLog /var/www/{{ item.website_domain }}/logs/error.log
  CustomLog /var/www/{{ item.website_domain }}/logs/requests.log combined
</VirtualHost> 